@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Esto lo que hace es hacer que en tu html se use border-box y los elementos hereden este valor
    pero puedan cambiar si fuese necesario por otro valor (aunque es poco probable que lo uses
    quién sabe si cargas algún componente de tercero que sí). */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/*Creamos variables en CSS*/

:root {
    --fuente-titulo: "Krona One", sans-serif;
    --fuente-texto: "Montserrat", sans-serif;
    --color-principal: #22d4fd;
    --color-fondo: #000000;
    --color-texto: #f6f6f6;
    --color-destacado: #007bff;
}

  /* Reset */

* {
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-texto);
}

.header {
    padding: 4% 12% 0 12%;
}


.header_menu {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.header_menu_links {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.header_menu_links:hover {
    color: var(--color-destacado);
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 12%;
    justify-content: space-between;
    gap: 80px;
    flex-direction: column-reverse;
}

.cv_presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 12%;
    justify-content: space-between;
    gap: 80px; 
}

.presentacion_contenido{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-titulo);
}

.presentacion_contenido_subtitulo {
    font-size: 1.75rem;
    font-family: var(--fuente-titulo);
}

.titulo-destacado {
    color: var(--color-principal);
    border-bottom: 1px solid var(--color-principal);
    padding: 5px;
}

.presentacion_contenido_parrafo{
    font-size: 1.5rem;
}

.presentacion_contenido_listas {
    font-size: 1.5rem;
    margin-bottom: 3px;
    list-style: disc;
}

.presentacion_enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion_enlaces_subtitulo {
    font-size: 1.5rem;
    font-family: var(--fuente-titulo);
    font-weight: 400;
}

.presentacion_enlaces_link {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--color-texto);
    border: 2px solid var(--color-principal);
    width: 75%;
    text-align: center;  
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.presentacion_enlaces_link:hover {
        background-color: #272727;   
}


.presentacion_imagen {
    width: 50%;
    max-width: 600px;
}

.pie_de_pagina {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    padding: 24px 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}


@media all and (max-width: 767px) {
    .header {
        padding: 6%;
    }

    .header_menu {
        flex-direction: column;
        gap: 20px;
    }
    
    .header_menu_links {
        font-size: 1.25rem;
    }

    .presentacion_contenido_titulo {
        font-size: 2rem;
    }

    .presentacion_contenido_subtitulo {
        font-size: 1.5rem;
    }

    .presentacion_contenido_parrafo {
        font-size: 1.25rem;
    }

    .presentacion_enlaces_link {
        font-size: 1.25rem;
    }

    .pie_de_pagina {
        font-size: 1.25rem;
    }
 
    }

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 6%;
    }

    .presentacion {
        flex-direction: row;
    }

    .presentacion_contenido {
        width: 50%;
    }

    .presentacion_imagen {
        width: 50%;
    }

    }